@media only screen and (max-width: 991px) {
  .bro-mainProductsCard {
    width: 90%;
    min-height: 380px;
    margin: auto;
    padding: 0px;
    margin: auto;
    max-width: 275px;
    overflow: hidden;
  }
  .bro-mainProductsCardContainer {
    margin-bottom: 30px;
  }

  .mainSercivesTabTitle1 a {
    padding: 10px 5px 10px 5px !important;
  }

  .mainSercivesTabTitleContainer .row {
    margin: auto;
  }

  .servicesTitle {
    padding-left: 15px;
  }

  .mainSercivesTabTitle1 a {
    font-family: Rubik, sans-serif;
    display: block;
    min-height: 50px;
    line-height: 30px;
    width: 80%;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    text-align: center;
    color: #fff;
    opacity: 0.6;
    font-size: 24px;
    box-shadow: 0 6px 6px -6px gray;
    margin-bottom: 10px;
    width: 100%;
  }
  .mainSercivesTabTitle1 a:hover,
  .mainSercivesTabTitle1 a.active {
    background-color: #1d232f !important;
    color: #fff;
    opacity: 1;
    background-image: url(../images/tabUnderLine.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 70%;
    cursor: pointer;
    font-weight: bold;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
  }
  .bro-mainSercivesTabContainer .mainSercivesTabContentContainer p {
    padding-top: 30px !important;
  }
}

@media only screen and (min-width: 992px) {
  .bro-mainProductsCard {
    width: 90%;
    min-height: 360px;
    margin: auto;
    padding: 0px;
    margin: auto;
    max-width: 275px;
    overflow: hidden;
  }

  .bro-mainProductsCardContainer {
    margin-bottom: 10px;
  }

  .servicesTitle {
    padding-left: 70px;
  }

  .mainSercivesTabTitle1 a:hover,
  .mainSercivesTabTitle1 a.active {
    background-color: transparent !important;
    background-image: url(../images/tabUnderLine.png);
    background-position: center bottom;
    background-size: 80% 4px;
    background-repeat: no-repeat;
    color: #fff !important;
    font-weight: bold;
    opacity: 1;
  }
}

.bro-mainSercivesTabContainer .pageTitle {
  margin-bottom: 20px;

  display: inline-block;
  width: 188px;
  height: 34px;
}



.mainSercivesTabTitle1 {
  background-color: transparent !important;
  margin-left: 0px;
  padding: 0px 5px 0px 5px;
}
.mainSercivesTabTitle1.active {
  background-color: transparent !important;
  color: #212529;
}

.mainSercivesTabTitle1 a {
  background-color: transparent !important;
  padding: 10px 5px 10px 5px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  opacity: 0.6;
}

.mainSercivesTabTitle1 a span {
  font-size: 20px;
}

.bro-mainSercivesTabContainer .mainSercivesTabContentContainer {
  background-color: transparent;
  padding: 20px 0px 20px 0px;
}
.bro-mainSercivesTabContainer .mainSercivesTabContentContainer p {
  color: #fff;
  letter-spacing: 0.4px;
  text-align: justify;
  position: relative;
}
.bro-mainSercivesTabContainer .mainSercivesTabContentContainer .title p {
  color: #fff;
  text-align: center;
  font-weight: 600;
  margin: auto;
}
.serviceplan {
  position: absolute;
  top: -30px;
  color: #F1AF12;
  text-align: left;
  font-weight: 600;
  margin-bottom: 5px;
}
.bro-mainSercivesTabContainer .mainSercivesTabContentContainer .details {
  width: 100%;
  padding-top: 20px;
  display: flex;
}
.bro-mainSercivesTabContainer .mainSercivesTabContentContainer .details img {
  margin-right: 15px;
  height: fit-content;
}



.bro-mainProductsCardImgContainer {
  padding: 0px;
  margin: 0px;
}

.bro-mainProductsCardContentContainer {
  background-color: #fff;
  padding: 0px;
}

.bro-mainProductsCard p {
  min-height: 120px;
  font-size: 16px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  font-size: 16px;
}

.bro-mainProductsCard img {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bro-mainProductsCard:hover img {
  opacity: 1;
}
